<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Brais' Videogames | Detalles del Videojuego</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"></header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="row">
				<div class="col-md-3">
					<img class="rounded mx-auto d-block"
						th:src="@{/logos/{img} (img=${videojuegos.imagen}) } "
						alt="Generic placeholder image" width="220" height="auto">
				</div>
				<div class="col-md-9">
					<div class="card">
						<h4 class="card-header">
							<strong th:text="${videojuegos.nombre}">Ingeniero Civil</strong>
						</h4>
						<div class="card-body">
							<div class="alert alert-danger" role="alert"
								sec:authorize="isAnonymous()">
								¿Te interesa este Videojuego? <strong>Regístrate</strong>
							</div>
							<h5 class="card-title">
								<strong>Categoría: </strong> <span
									th:text="${videojuegos.categoria.nombre}">Nombre la
									categoría</span>
							</h5>
							<h6 class="card-title">
								<strong>Publicado: </strong> <span
									th:text="${#dates.format(videojuegos.fecha, 'dd-MM-yyyy')}">2019-01-01</span>
							</h6>
							<h6 class="card-title">
								<strong>Precio Ofrecido: $</strong><span
									th:text="${videojuegos.precio}">$9000</span>
							</h6>
							<p class="card-text" th:text="${videojuegos.descripcion}">La
								descripción corta de la oferta de trabajo</p>

							<div class="card bg-light mb-3" th:if="${videojuegos.detalles} != '' ">
								<div class="card-body">
									<h3>Detalles del videojuego</h3>
									<p class="card-text" th:utext="${videojuegos.detalles}"></p>
								</div>
							</div>
							<div sec:authorize="isAuthenticated()">
								<form
									th:action="@{/comentarios/save/{id} (id=${videojuegos.id})}"
									th:object="${comentarios}" method="post">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="comentarios">Comentarios</label>
												<textarea class="form-control" name="descripcion" 
													 id="descripcion" rows="2" type="text" pattern="([\w ]+)"></textarea>
											</div>
										</div>

									</div>
									<hr>
									<button type="submit" class="btn btn-primary">Enviar</button>
									<button type="reset" class="btn btn-warning">Limpiar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-end mt-3">
				<div class="col-md-9 ">
					<div class="card m-2" th:each="row:${listacomentarios}">
						<h5 class="card-header">El usuario
							<span  th:text="${row.username}"></span> ha comentado <span th:text="${row.fechaCreacion}" > :
						</h5>
						<div class="card-body">
							<p class="card-text" th:text="${row.descripcion}" ></p>
							<div >
								
								<div class="card m-2" th:each="rows:${listarespuestas}"  th:if="${rows.idComentarios== row.id}" >
								
									
									<h5 class="card-header">El usuario
									<span  th:text="${rows.username}"></span> ha respondido<span th:text="${rows.fechaCreacion}" ></span>:
									</h5>
									<div class="card-body">
										<p class="card-text" th:text="${rows.respuestaDescripcion}"></p>
									</div>
								</div>
								<div sec:authorize="isAuthenticated()">
									<hr> 
									
									<button class="btn btn-info m-1" type="button" data-toggle="collapse" data-target="#respuesta" aria-expanded="false" aria-controls="collapseExample">
									  	<i class="far fa-comment-dots"></i> 
									  </button>
									
									<div class="collapse" id="respuesta">
									  <div class="card card-body m-1">
									   <form
													th:action="@{/respuesta/save/{idCom}&{idVideo} (idCom=${row.id},idVideo=${videojuegos.id})}"
													th:object="${respuesta}" method="post">
												<input type="text" class="form-control" name="respuestaDescripcion" id="respuestaDescripcion"  placeholder="Respuesta" autofocus >
												<br>
												<button type="submit" class="btn btn-primary">Responder</button>
											</form>
									  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
			
	</main>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>